.gallery-item {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* box-shadow: inset 0 0 50px 20px rgba(0,0,0,0.7); */
}
.gallery-item:hover {
    cursor: pointer;
}

/* Vignette overlay */
.gallery-item::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 8px;
  /* pointer-events: none; */
  background: none;
  opacity: 0;
  transition: opacity 2s ease;
}
/* Only add vignette when .has-image is present */
.gallery-item.has-image::before {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.5) 100%);
  opacity: 0;
  transition: opacity .3s ease;
}
.gallery-item.has-image:hover::before {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.5) 100%);
  opacity: 1;
}

.button {
    position: absolute;
    opacity: 0;
    top: 12px;
    right: 12px;
    padding: 8px 20px;
    border-radius: 8px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    /* display: none; */
    background-color: rgb(165, 25, 3);
    z-index: 999;
    cursor: pointer;
    transition: opacity .3s ease;
}
.button img {
  display: block;
}
.button.share, .button.more-actions {
    padding: 6px;
    top: auto;
    bottom: 12px;
    right: 12px;
    /* margin: 0 12px; */
    /* opacity: 1; */
    background-color: rgb(255, 255, 255);
    z-index: 999;
    position: absolute;
    color: white;
    /* border: 1px solid black; */
}
.button.share {
    right: 50px;
    color: white;
}

.gallery-item:hover .button {
    opacity: 1;
    display: block;
}
.gallery-item .main-img {
    width: 100%;
    height: 100%;
    min-height: 100px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    /* pointer-events: none; */
}