.gallery {
    margin-right: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    /* if required change to 7
    like : 
    grid-template-columns: repeat(7, 1fr); -- 
    */
    gap: 8px;
}
@media screen and (max-width: 1620px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(7, 1fr); 
    }
}
@media screen and (max-width: 1420px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
    }
}
@media screen and (max-width: 1220px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
    }
}
@media screen and (max-width: 920px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
    }
}
@media screen and (max-width: 780px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }
}
@media screen and (max-width: 620px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media screen and (max-width: 350px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
}